<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/owner-layout}" th:with="activePage='maintenance', pageTitle='Maintenance'">

<head>
    <th:block layout:fragment="extra-css">
        <!-- Custom styles for this page if needed -->
    </th:block>
</head>

<body>
    <div layout:fragment="content">
        <div class="row">
            <div class="col-md-12 grid-margin">
                <div class="row">
                    <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                        <h3 class="font-weight-bold">Maintenance</h3>
                        <h6 class="font-weight-normal mb-0">Track vehicle service history and upcoming maintenance.</h6>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Maintenance Schedule</h4>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Vehicle</th>
                                        <th>Service Type</th>
                                        <th>Date</th>
                                        <th>Cost</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Toyota Camry (WXY 1234)</td>
                                        <td>Oil Change</td>
                                        <td>Oct 15, 2023</td>
                                        <td>RM 120</td>
                                        <td><label class="badge badge-success">Completed</label></td>
                                    </tr>
                                    <tr>
                                        <td>Honda CR-V (VAB 5678)</td>
                                        <td>Tire Rotation</td>
                                        <td>Nov 01, 2023</td>
                                        <td>RM 80</td>
                                        <td><label class="badge badge-warning">Scheduled</label></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <th:block layout:fragment="extra-js">
        <!-- Extra JS for this page -->
    </th:block>
</body>

</html>